<!-- Header -->
<app-topbar></app-topbar>
<!-- /Header -->

<!-- Sidebar -->
<app-side-navbar></app-side-navbar>
<!-- /Sidebar -->

<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Manage Users</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Manage Users</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <button type="button" (click)="open(addmodal, null)" class="btn btn-primary float-right mt-2">Add</button>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">User Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table class="datatable table table-stripped">
                <thead>
                <tr>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody *ngIf="users?.length != 0">
                <tr *ngFor="let user of users">
                  <td>{{ user.fname }}</td>
                  <td>{{ user.lname }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <div class="actions">
                      <a class="btn btn-sm bg-success-light" data-toggle="modal"
                         (click)="open(updatemodal, user.id)">
                        <i class="fe fe-pencil"></i> Edit
                      </a>
                      <a data-toggle="modal" (click)="removeUser(user.id)" class="btn btn-sm bg-danger-light ml-1">
                        <i class="fe fe-trash"></i> Delete
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="users?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<ng-template #addmodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New User</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="close(addmodal)" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="saveUser()">
      <div class="row form-row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" name="fname" [(ngModel)]="user.fname" class="form-control">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lname" [(ngModel)]="user.lname" class="form-control">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" [(ngModel)]="user.email" class="form-control">
          </div>
        </div>


        <div class="col-12">
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="user.password" class="form-control">
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary btn-block">Save User</button>
    </form>
  </div>

</ng-template>
<!-- /ADD Modal -->


<ng-template #updatemodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">Update</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="close(updatemodal)" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="updateUser()">
      <div class="row form-row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" name="fname" [(ngModel)]="user.fname" class="form-control">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lname" [(ngModel)]="user.lname" class="form-control">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" [(ngModel)]="user.email" class="form-control">
          </div>
        </div>


      </div>
      <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
    </form>
  </div>

</ng-template>
